{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Enter your mobile phone number
      </h1>
    </legend>

<p class="govuk-body">We will send a 6 digit security code to the number you give us.</p>

<div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
    UK mobile phone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephoneNumber" type="tel" autocomplete="tel">
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="countries-5" name="countries" type="checkbox" value="none" data-behaviour="exclusive">
        <label class="govuk-label govuk-checkboxes__label" for="countries-5">
          I do not have a UK mobile number
        </label>
      </div>
    </div>
  </fieldset>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</div>
</div>

{% endblock %}
