{% set hideBackLink=1 %}
{% set showNav="false" %}

{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Prototypes
    </h1>
    <h2 class="govuk-heading-m">Account creation - organisation admin</h2>
    <ul class="govuk-list govuk-list--bullet">

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="start?version=1.1">Version 1.1</a>
        <span class="govuk-hint govuk-!-display-block">
          Updated on 7/3/2024
          <br>
          &rarr; This version skips the One Log-in password and 2FA views
          <br>
          &rarr; Added feedback when updating an account detail
          <br>
          &rarr; Displays SWE number when viewing user details of a Social Worker
          <br>
          &rarr; Updated the 'secure area' header inline with the DfE pattern
          <br>
          &rarr; Happy path for deactivating an account
          <br>
          &rarr; Added logic to save users / reflect changes in the table
          <br>
          &rarr; Added logic to display email entered when showing notification
          <br >
          &rarr; Logic when deactivating coordinators
          <br >
          &rarr; Secure area links hidden when not "logged in"
          <br >
          &rarr; Added selected stated for navigation item
          <br >
          &rarr; Added new navigation item "Home"
        </span>
      </li>

      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="start">Version 1</a>
        <span class="govuk-hint govuk-!-display-block">Updated on 21/2/2024</span>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
