{% set hideBackLink=1 %}
{% set showNav="false" %}

{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Prototypes
    </h1>
    <h2 class="govuk-heading-m">Account creation - organisation admin</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="start">Version 1</a>
        <span class="govuk-hint govuk-!-display-block">Updated on 21/2/2024</span>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
