{% set hideBackLink=1 %}
{% set showNav="false" %}

{% extends "layouts/main.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <h1 class="govuk-heading-l">
      <span class="govuk-label--l">Early Career Framework</span>
    </h1>
    <p>Use the link below to log in to the Early Career Framework digital service.</p>
    <p>This will direct you to GOV.UK One Login.</p>
    <a class="govuk-link govuk-link--no-visited-state" href="one-login">Continue to GOV.UK One Login</a>

  </div>
</div>

{% endblock %}
