{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      Check user details before {% if data.id >= 0 %} updating {% else %} adding
      {% endif %} them
    </h1>

    {{ govukSummaryList({ rows: [ { key: { text: "First name" }, value: { text:
    data["firstName"] }, actions: { items: [ { href: "#", text: "Change",
    visuallyHiddenText: "First Name" } ] } } , { key: { text: "Last name" },
    value: { text: data["lastName"] }, actions: { items: [ { href: "#", text:
    "Change", visuallyHiddenText: "Last name" } ] } } , { key: { text: "Email
    address" }, value: { text: data["emailAddress"] }, actions: { items: [ {
    href: "#", text: "Change", visuallyHiddenText: "Email address" } ] } } ] })
    }} {% if data["regNumber"] != "" %} {{ govukSummaryList({ rows: [ { key: {
    text: "Social Work England registration number (optional)" }, value: { text:
    data["regNumber"] }, actions: { items: [ { href: "#", text: "Change",
    visuallyHiddenText: "Social Work England registration number (optional)" } ]
    } } ] }) }} {% endif %}

    <form
      action="/account-creation-org-admin/confirm-user-details"
      method="post"
      novalidate
    >
      {% if data.id >= 0 %} {{ govukButton({ text: "Update" }) }} {% else %} {{
      govukButton({ text: "Add" }) }} {% endif %}
    </form>
  </div>
</div>
{{ data | log }} {{ user | log }} {% endblock %}
