
{% set showNav="true" %}
{% set selectedNav = "Manage accounts" %}
{% extends "layouts/main.html" %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if show_notification %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Details updated
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            Account details were successfully updated
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-table__caption--l">Change details</span>
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data.userTypes[user.type] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="select-user-type?editing=true&id={{user.id}}">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account details
        </dt>
        <dd class="govuk-summary-list__value">
          <p>{{user.firstName}} {{user.lastName}}</p>
          <p>{{user.emailAddress}}</p>
          <p>
            {% if user.type == "nqsw" %}
              {% if user.regNumber %}
              SWE registration number  {{user.regNumber}}
              {% else %}
              <strong class="govuk-tag govuk-tag--orange">
                Missing registration number
              </strong>
              <span class="govuk-!-display-block govuk-hint govuk-!-margin-bottom-0">
                You have not provided a Social Work England registration number for this account
              </span>

              {% endif %}
            {% endif %}
          </p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="add-user?editing=true&id={{user.id}}">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
    </dl>


    <p class="govuk-body">
      {% if user.type == "nqsw" and user.status == "not_linked" %}
      <a class="govuk-link govuk-link--no-visited-state" href="/account-creation-org-admin/link-are-you-sure?id={{user.id}}">Link {{ user.firstName }} {{ user.lastName }} to this organisation</a>
      {% elif user.type == "nqsw" %}
      <a class="govuk-link govuk-link--no-visited-state" href="account-creation-org-admin/unlink-user?id={{user.id}}" aria-describedby="unlink-hint">Unlink {{ user.firstName }} {{ user.lastName }} from this organisation</a>
      <span id="unlinke-hint" class="govuk-hint govuk-!-display-block">
        This account will no longer be linked to this organisation. This will not delete the account or any learner records. Coordinators from other organisations will be able to link this account to their own ECF service.
      </span>
      {% else %}
        {% if user.status == "deactivated" %}
          <a class="govuk-link govuk-link--no-visited-state" href="activate-account?id={{user.id}}">Activate account</a>
        {% else %}
          <a class="govuk-link govuk-link--no-visited-state" href="deactivate-account?id={{user.id}}">Deactivate account</a>
          <p>This account will no longer have access to the ECF digital service. The account will not be permanently deleted.</p>
          {% endif %}
      {% endif %}
    </p>

  </div>
</div>

{% endblock %}
